* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
  font: 14px/20px Arial, San-Serif;
  color: #555;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.profile {
    position: relative;
}
.text-right {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 40px;
  text-align: left;
}


section {
  width: 29%;
  float: left;
  margin: 2% 2%;
  text-align: center;

}
.portfolio {
  text-align: center;
}

footer {
  background-color: #333333;
  width: 100%;
  overflow: hidden;
  opacity: 0.9;
}
footer p, footer h3 {
  color: #fff;
}
ul.social li {
  display: inline;
  padding: 0;
}
ul.social li img {
  height: 50px;
}
footer.second {
  bordert-top: 1px solid #4d4e50;
  background-color: #333333;
  max-height: 50px;
  text-align: center;
  opacity: 0.95;
}
